/*
=================================================
SEARCH
=================================================
*/
body{
    background-color: #f1f1f1;
    box-sizing: border-box ;
    text-align: center;
}
/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
 }
 input{
    width:100%;
    font-size:32px;
    margin:5px 0;
    border:none;
    padding:10px;
    outline:none;
    display:inline-block;
 }
 .search-bar{
    width:80%;
 }
 .submit-button{
    width:15%;
    background:#000;
    color:#FFF;
 }
 
/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks a{
    text-decoration: none;
}
.bookmarks{
    padding:30px;
    clear:both;
 }
 .bookmarks i{
    font-size:42px;
    margin:0 20px;
    color:#000000;
    transition:.15s;
    vertical-align: top;
 }
 .bookmarks i:hover{
    font-size:72px;
    position:relative;
 }
 
 /*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#note{
    width:250px;
    height:250px;
    resize: none;
    background:#F3F19D;
    padding:15px;
    border:none;
    position: absolute;
    bottom:50px;
    left:50px;
    font-family:sans-serif;
    opacity:0;
   }
   